Repository OussMEJRI/StockMind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-lint, frontend-lint, backend-test, frontend-test

backend-lint:
  stage: lint
  image: python:3.11-slim
  before_script:
  - cd backend
  - pip install flake8 black
  script:
  - flake8 app --max-line-length=120 --exclude=__pycache__
  - black --check app

frontend-lint:
  stage: lint
  image: node:20-alpine
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint

backend-test:
  stage: test
  image: python:3.11-slim
  services:
  - postgres:15-alpine
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_SERVER: postgres
    POSTGRES_PORT: 5432
  before_script:
  - cd backend
  - pip install -r requirements.txt
  script:
  - pytest tests/ -v

frontend-test:
  stage: test
  image: node:20-alpine
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run test -- --watch=false --browsers=ChromeHeadless

Fix frontend Docker build and add placeholder HTML
  frontend/Dockerfile
  frontend/src/index.html
Due: frontend-lint, frontend-test

Add Docker Desktop WSL2 integration note
  README.md
Due: none

update front
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/models/equipment.model.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/chatbot.service.ts
  frontend/src/app/core/services/employee.service.ts
  frontend/src/app/core/services/equipment.service.ts
Due: frontend-lint, frontend-test

update front
  frontend/Dockerfile
  frontend/angular.json
  frontend/proxy.conf.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/core/interceptors/auth.interceptor.ts
  frontend/src/app/core/interceptors/error.interceptor.ts
  frontend/src/app/core/services/location.service.ts
  frontend/src/app/features/auth/login/login.component.ts
  frontend/src/app/features/chatbot/chatbot.component.ts
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/employees/employee-form/employee-form.component.ts
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
  frontend/src/app/features/equipment/equipment-form/equipment-form.component.ts
  frontend/src/app/features/equipment/equipment-list/equipment-list.component.ts
  frontend/src/app/features/locations/location-list/location-list.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/favicon.ico
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/styles.css
  frontend/tsconfig.app.json
  frontend/tsconfig.spec.json
Due: frontend-lint, frontend-test

update front
  frontend/Dockerfile
  frontend/angular.json
  frontend/package-lock.json
  frontend/src/app/features/auth/login/login.component.ts
  frontend/src/assets/logo.png
  frontend/src/assets/sofrecom.jpg
Due: frontend-lint, frontend-test

update requirement
  backend/requirements.txt
Due: backend-lint, backend-test

bouton import exel
  backend/app/api/v1/endpoints/import_excel.py
  frontend/src/app/features/equipment/equipment-list/equipment-list.component.ts
  package-lock.json
Due: backend-lint, frontend-lint, backend-test, frontend-test

ok
  README.md
  package-lock.json
Due: none

feat: Module Employés - CRUD complet avec validation
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/health.py
  backend/app/core/deps.py
  backend/app/crud/__init__.py
  backend/app/crud/employee.py
  backend/app/crud/user.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/employee.py
  backend/app/schemas/__init__.py
  backend/app/schemas/employee.py
  backend/app/schemas/token.py
  backend/app/schemas/user.py
  backend/init_admin.py
  backend/requirements.txt
  backend/scripts/init_db.py
  docker-compose.yml.backup
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/employee.service.ts
  frontend/src/app/features/employees/employee-form/employee-form.component.ts
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

exel
  backend/app/core/config.py
  backend/app/init_database.py
  frontend/src/app/core/services/employee.service.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

Feature/employer (#1)
  README.md
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/health.py
  backend/app/core/config.py
  backend/app/core/deps.py
  backend/app/crud/__init__.py
  backend/app/crud/employee.py
  backend/app/crud/user.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/init_database.py
  backend/app/main.py
  backend/app/models/employee.py
  backend/app/schemas/__init__.py
  backend/app/schemas/employee.py
  backend/app/schemas/token.py
  backend/app/schemas/user.py
  backend/init_admin.py
  backend/requirements.txt
  backend/scripts/init_db.py
  docker-compose.yml.backup
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/employee.service.ts
  frontend/src/app/features/employees/employee-form/employee-form.component.ts
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
  package-lock.json
Due: backend-lint, frontend-lint, backend-test, frontend-test

OK
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/equipment.py
  backend/app/core/deps.py
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.conf.json.backup
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/equipment.service.ts
  frontend/src/app/core/services/search.service.ts
  frontend/src/app/shared/components/global-search/global-search.component.html
  frontend/src/app/shared/components/global-search/global-search.component.scss
  frontend/src/app/shared/components/global-search/global-search.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

test0
  README.md
Due: none

Update README.md
  README.md
Due: none

ok
  package-lock.json
Due: none

ok
  create_admin.py
Due: none

backup
  backup.sql
Due: none

Changes in api.py under v1
  backend/app/api/v1/api.py
Due: backend-lint, backend-test

Changes auth and umport excel
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/import_excel.py
Due: backend-lint, backend-test

commit nhar lekhmiss 17H
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/import_excel.py
  backend/app/core/deps.py
Due: backend-lint, backend-test

tabdila f requirements
  backend/requirements.txt
Due: backend-lint, backend-test

correction nhar jem3a 3avril 15h30 mochkla el CORS
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/health.py
Due: backend-lint, backend-test

feat: Complete IT Inventory Management System
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/equipment.py
  backend/app/api/v1/endpoints/locations.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/chatbot.service.ts
  frontend/src/app/core/services/equipment.service.ts
  frontend/src/app/core/services/location.service.ts
  frontend/src/app/features/chatbot/chatbot.component.css
  frontend/src/app/features/chatbot/chatbot.component.html
  frontend/src/app/features/chatbot/chatbot.component.ts
  frontend/src/app/features/dashboard/dashboard.component.css
  frontend/src/app/features/dashboard/dashboard.component.html
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/equipment/equipment-list/equipment-list.component.ts
  frontend/src/app/features/locations/location-form/location-form.component.css
  frontend/src/app/features/locations/location-form/location-form.component.html
  frontend/src/app/features/locations/location-form/location-form.component.ts
  frontend/src/app/features/locations/location-list/location-list.component.css
  frontend/src/app/features/locations/location-list/location-list.component.html
  frontend/src/app/features/locations/location-list/location-list.component.ts
  frontend/src/app/services/employee.service.ts
  frontend/src/app/services/equipment.service.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
Due: backend-lint, frontend-lint, backend-test, frontend-test

historique emp
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/employee_history.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/employee.py
  backend/app/models/employee_equipment_history.py
  backend/app/models/equipment.py
  backend/app/schemas/employee_equipment_history.py
  frontend/src/app/core/models/employee.model.ts
  frontend/src/app/core/services/employee.service.ts
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

Impact carbone
  docker-compose.yml
  frontend/nginx.conf
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/switch-locator.service.ts
  frontend/src/app/features/carbon-footprint/carbon-footprint.component.css
  frontend/src/app/features/carbon-footprint/carbon-footprint.component.html
  frontend/src/app/features/carbon-footprint/carbon-footprint.component.ts
  frontend/src/app/features/dashboard/dashboard.component.css
  frontend/src/app/features/dashboard/dashboard.component.html
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.ts
  switch-locator/Dockerfile
  switch-locator/app.py
Due: frontend-lint, frontend-test

graf
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/features/carbon-footprint/carbon-footprint.component.css
  frontend/src/app/features/chatbot/chatbot.component.css
  frontend/src/app/features/chatbot/chatbot.component.html
  frontend/src/app/features/chatbot/chatbot.component.ts
  frontend/src/app/features/dashboard/dashboard.component.css
  frontend/src/app/features/dashboard/dashboard.component.html
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/emplacements/emplacement-list.component.css
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.ts
  frontend/src/styles.css
Due: frontend-lint, frontend-test

grafana2
  backend/app/api/v1/endpoints/equipment.py
  frontend/src/app/core/services/switch-locator.service.ts
  frontend/src/app/features/dashboard/dashboard.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

fix issues and add new features
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/equipment.py
  backend/app/models/emplacements.py
  backend/app/models/employee.py
  backend/app/models/equipment.py
  backend/app/schemas/employee.py
  backend/app/schemas/equipment.py
  frontend/src/app/core/services/equipment.service.ts
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
  frontend/src/app/features/equipment/equipment-form/equipment-form.component.ts
  frontend/src/app/features/equipment/equipment-list/equipment-list.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

emplacements et ajout user et I
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/emplacements.py
  backend/app/api/v1/endpoints/employees.py
  backend/app/api/v1/endpoints/equipment.py
  backend/app/api/v1/endpoints/users.py
  backend/app/services/chatbot.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/guards/admin.guard.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/chatbot.service.ts
  frontend/src/app/core/services/emplacement.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/chatbot/chatbot.component.css
  frontend/src/app/features/chatbot/chatbot.component.html
  frontend/src/app/features/chatbot/chatbot.component.ts
  frontend/src/app/features/emplacements/emplacement-list.component.css
  frontend/src/app/features/emplacements/emplacement-list.component.html
  frontend/src/app/features/emplacements/emplacement-list.component.ts
  frontend/src/app/features/equipment/equipment-form/equipment-form.component.ts
  frontend/src/app/features/users/users.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.ts
  switch-locator/app.py
Due: backend-lint, frontend-lint, backend-test, frontend-test

Delete k8s directory
  k8s/backend/configmap.yaml
  k8s/backend/deployment.yaml
  k8s/backend/secret.yaml.template
  k8s/backend/service.yaml
  k8s/frontend/deployment.yaml
  k8s/frontend/service.yaml
  k8s/namespace.yaml
  k8s/postgres-statefulset.yaml
Due: none

notif
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/db/base.py
  backend/app/models/__init__.py
  backend/app/models/notification.py
  backend/app/schemas/notification.py
  frontend/src/app/core/models/notification.model.ts
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/features/equipment/equipment-list/equipment-list.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

pgadmin
  docker-compose.yml
Due: none

Changes related to clair/sombre theme
  frontend/src/app/app.component.ts
  frontend/src/app/core/services/theme.service.ts
  frontend/src/app/features/carbon-footprint/carbon-footprint.component.css
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/emplacements/emplacement-list.component.css
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.ts
  frontend/src/styles.css
Due: frontend-lint, frontend-test

partie volé
  backend/app/api/v1/endpoints/equipment.py
  backend/app/main.py
  backend/app/models/equipment.py
  backend/app/schemas/equipment.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/models/equipment.model.ts
  frontend/src/app/features/dashboard/dashboard.component.html
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/emplacements/emplacement-list.component.ts
  frontend/src/app/features/employees/employee-list/employee-list.component.ts
  frontend/src/app/features/equipment/equipment-form/equipment-form.component.ts
  frontend/src/app/features/equipment/equipment-list/equipment-list.component.ts
  frontend/src/styles.css
Due: backend-lint, frontend-lint, backend-test, frontend-test

Fix en maintenance
  backend/app/api/v1/endpoints/equipment.py
  frontend/src/app/features/equipment/equipment-form/equipment-form.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

Add files via upload
  StockMind_historique_equipements.zip
Due: none

Historique
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/equipment.py
  backend/app/api/v1/endpoints/inventory_history.py
  backend/app/schemas/inventory_history.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/models/inventory-history.model.ts
  frontend/src/app/core/services/inventory-history.service.ts
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/history/inventory-history.component.ts
  frontend/src/app/shared/components/navbar/navbar.component.html
  frontend/src/app/shared/components/navbar/navbar.component.ts
Due: backend-lint, frontend-lint, backend-test, frontend-test

Path conditions:
  backend-lint: any of: backend/**/*
  frontend-lint: any of: frontend/**/*
  backend-test: any of: backend/**/*
  frontend-test: any of: frontend/**/*
